body, html, #container {
    height: 100%;
}
 #body {
     color: #01ABAA;
 }
 #header {
     background-image: url(https://tf2maps.net/attachments/20170811095313_1-jpg.59449/);
 }
 #personal_photo {
     align="middle"
 }
 .button {
     background-color: #f99e70 ;
     border: none ;
     color: white ;
     text-align: center ;
     cursor: crosshair;
     height: 40% ;
     width: 30% ;
 }
 .button:focus{
     background-color:  #da885f ;
 }
 .button:hover{
     background-color:  #da885f ;
 }
